*    {
    margin: 0;
    padding: 0;
    border: 0;
}
header  {
    float: left;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
}
a:link   {
    color: white;
}
a:visited   {
    color: white;
}
a:hover {
    color: yellow;
    size: 1.5em;
}
a:active    {
    color: red;
}
#links  {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#content    {
    width: 85%;
    float: right;
}